[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
twilio = "*"
validations = "*"
authentication = "*"
psycopg2-binary = "*"
email-validator = "*"
django-google-analytics-app = "*"

[dev-packages]

[requires]
python_version = "3.11"
