<!-- create_admin_user.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Create Admin Account</h2>
  <form method="post" action="{% url 'create_admin_user' %}">
    {% csrf_token %}
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <br>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Create Account</button>
  </form>

  <p>Already have an admin account? <a href="{% url 'custom_login' %}">Login</a>.</p>
{% endblock %}
